<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_phiwms"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_phiwms"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhiWMS_Mobile"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

    <!-- SETTINGS -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.MySettingsActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"
        android:label="@string/app_name"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>


    <!-- Authentification -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.MainActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"
        android:exported="true"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.AuthentificationActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name="fr.alcyons.phiwms_mobile.AuthentificationV2Activity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"
        android:exported="true">

    </activity>

    <activity
        android:name="fr.alcyons.phiwms_mobile.AuthentificationTotp.AuthentificationTotpActivity"
        android:exported="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize">
    </activity>

    <activity
        android:name="fr.alcyons.phiwms_mobile.InscriptionActivity"
        android:exported="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize">
    </activity>

    <activity
        android:name="fr.alcyons.phiwms_mobile.WebView.WebViewActivity"
        android:exported="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize">
    </activity>

    <activity
        android:name="fr.alcyons.phiwms_mobile.SupportActivity"
        android:exported="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize">
    </activity>

    <activity
        android:name="fr.alcyons.phiwms_mobile.CGU.CguActivity"
        android:exported="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize">
    </activity>

    <!-- Paramètre Serveur -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.ParametresServeur.ServiceParametresServeurActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <!-- Navigation Activity -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Navigation.NavigationActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

        <activity
        android:name="fr.alcyons.phiwms_mobile.Navigation.WebViewServiceActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <!-- Service Réception PUI -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceReceptionPuiActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.ReceptionPUI.ListeLotReceptionPuiActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.ReceptionPUI.DetailReceptionPuiActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.ReceptionPUI.CreationLotManuelReceptionPUIActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.ReceptionPUI.ZoneEtEmplacementSelecteurMultipleActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <!-- Service Réception PAD -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceReceptionPadActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.ReceptionPAD.DetailReceptionPadActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.ReceptionPAD.AjoutManuelProduitReceptionPADActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <!-- Service Verrou Pharmacie -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceVerrouPharmacieActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.VerrouPharmacie.DetailVerrouPharmacieActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <!-- Contrôle des retours -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceControleRetoursActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.ControleDesRetours.DetailsControleRetoursActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.ControleDesRetours.ListeLotsControleDesRetoursActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.ControleDesRetours.ListeZoneCreationActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.ControleDesRetours.ListeEmplacementCreationActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

        <activity
            android:name="fr.alcyons.phiwms_mobile.ControleDesRetours.CreationLotControleDesRetoursActivity"
            android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

    <!-- Quarantaine -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceQuarantaineActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.Quarantaine.DetailQuarantaineActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

        <!-- Retour PUI -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceRetourPUIActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.RetourPUI.DetailRetourPUIActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.RetourPUI.ListeEmplacementRetourPUIActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <!-- Retour Fournisseur -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceRetourFournisseurActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.RetourFournisseur.DetailRetourFournisseurActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <!-- Destruction -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceDestructionActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.Destruction.DetailDestructionActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <!-- Preparation UF & PAD -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServicePreparationPadActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServicePreparationPufActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.PreparationPUFetPAD.ListeLotPreparationActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.PreparationPUFetPAD.DetailPreparationActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.PreparationPUFetPAD.CreationLotActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <!-- Livraison -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceLivraisonActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.Livraison.ListeLivraisonDepot"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.Livraison.InformationLivraisonActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|screenSize"/>

    <!-- Barcode Activity -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.BarcodeSearch.BarcodeCaptureActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Scanner Activity -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.BarcodeSearch.ScannerPreparationActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

        <activity
        android:name="fr.alcyons.phiwms_mobile.BarcodeSearch.ScannerEmplacementActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

        <activity
        android:name="fr.alcyons.phiwms_mobile.BarcodeSearch.ScannerDocumentActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

        <activity
        android:name="fr.alcyons.phiwms_mobile.BarcodeSearch.ScannerProduitActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Prise Photo Activity -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.PrisePhoto.PrisePhoto"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.PrisePhoto.PrisePhotoV3"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Barcode ScannerSearchOnly Activity -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.BarcodeSearch.ScannerSearchOnlyActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Barcode Negative Activity -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.BarcodeSearch.negative.BarcodeCaptureNegativeActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Barcode Preparation Activity -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.BarcodeSearch.BarcodePreparationActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Barcode Réception Activity -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.BarcodeSearch.BarcodeReceptionActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.BarcodeSearch.ScannerReceptionActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Plan de placement -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.PlanDePlacement.ListeZonesActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.PlanDePlacement.ListeEmplacementActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Médicament au livret -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceMedicamentAuLivretActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.MedicamentAuLivret.DetailMedicamentAuLivretActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Dispositif médical -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceDispositifAuLivretActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.DispositifAuLivret.DetailDispositifAuLivretActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Liste Fournisseur -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.ListeActivity.ListeFournisseurActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Liste Catégorie -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.ListeActivity.ListeCategorieActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Stock -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceStockActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.Stock.ListeReferenceActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.Stock.ListeStockActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.Stock.DetailStockActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Depot sélecteur -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.DepotSelecteur.DepotSelecteurSimpleActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <activity
        android:name="fr.alcyons.phiwms_mobile.DepotSelecteur.DepotSelecteurMultipleActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Zone et Emplacement -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceZonesEtEmplacementsActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.ZonesEtEmplacements.DetailZoneActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.ZonesEtEmplacements.DetailZoneSaisieActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.ZonesEtEmplacements.ListeZonesParDepotActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.ZonesEtEmplacements.ListeEmplacementsParZoneActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Zone et Emplacement -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceIdentificationParScanActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.IdentificationParScan.DetailProduitIdentificationParScanActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.IdentificationParScan.ListeProduitsIdentificationParScanActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Demande Plein Vide -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceDemandePleinVideActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.DemandePleinVide.DetailDotationPleinVideActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Demande Dotation Globale -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceDemandeDotationGlobaleActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.DemandeDotationGlobale.InformationDotationServiceActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

    <!-- Demande Reassort -->
    <activity
        android:name="fr.alcyons.phiwms_mobile.Services.ServiceDemandeReassortActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>
    <activity
        android:name="fr.alcyons.phiwms_mobile.DemandeReassort.InformationDemandeReassortActivity"
        android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceAvecConnexionActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden"/>

        <!-- Demande Particulière -->
        <activity
            android:name="fr.alcyons.phiwms_mobile.Services.ServiceDemandeParticuliereActivity"
            android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name="fr.alcyons.phiwms_mobile.DemandeParticuliere.ListeProduitActivity"
            android:parentActivityName="fr.alcyons.phiwms_mobile.ServiceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
    </application>

</manifest>